a.button {
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
}
a.button:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
a.button:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}


table.table_style {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-radius: 10px;
border-spacing: 0;
text-align: center;
}
table.table_style th {
background: #BCEBDD;
color: white;
text-shadow: 0 1px 1px #2D2020;
padding: 10px 20px;
}
table.table_style th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
table.table_style th:first-child, td:first-child {
text-align: left;
}
table.table_style th:first-child {
border-top-left-radius: 10px;
}
table.table_style th:last-child {
border-top-right-radius: 10px;
border-right: none;
}
table.table_style td {
padding: 10px 20px;
background: #E1EEF4;
}
table.table_style tr:last-child td:first-child {
border-radius: 0 0 0 10px;
}
table.table_style tr:last-child td:last-child {
border-radius: 0 0 10px 0;
}
table.table_style tr td:last-child {
border-right: none;
}

table.descript {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 16px;
color: black;
text-shadow: 0 1px 1px #2D2020;
border-radius: 10px;
border-spacing: 0;
text-align: center;
width: 100%
}
table.descript td {
padding: 10px 20px;
background: #BCEBDD;
text-align: center;
}

table.header {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 16px;
color: black;
text-shadow: 0 1px 1px #2D2020;
border-radius: 10px;
border-spacing: 0;
width: 100%
}
table.header td {
padding: 10px 20px;
background: #BCEBDD;
}
table.main_page {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 16px;
border-radius: 10px;
border-spacing: 0;
width: 100%
}
table.main_page td {
padding: 10px 20px;
text-align: center;
background: #E1EEF4;
}